<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServerEtilometro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
   <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>servlet.AccountServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>db_etilometro</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>ber99911965</param-value>
    </init-param>
  </servlet>
   <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UtenteServlet</display-name>
    <servlet-name>UtenteServlet</servlet-name>
    <servlet-class>servlet.UtenteServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>db_etilometro</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>ber99911965</param-value>
    </init-param>
  </servlet>
    <servlet-mapping>
    <servlet-name>UtenteServlet</servlet-name>
    <url-pattern>/UtenteServlet</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <description></description>
    <display-name>AcquisizioneServlet</display-name>
    <servlet-name>AcquisizioneServlet</servlet-name>
    <servlet-class>servlet.AcquisizioneServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>db_etilometro</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>ber99911965</param-value>
    </init-param>
  </servlet>
   <servlet-mapping>
    <servlet-name>AcquisizioneServlet</servlet-name>
    <url-pattern>/AcquisizioneServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
  